<div class="container">

    <div>
        <a href="index.html">
            <img src="assets/images/logo_gb_claro.svg" class="logo_bora_comer" alt="Bora Comer Logo">
        </a>

        <p>
            <a href="https://instagram.com/" target="_blank">
                <i class="fa-brands fa-instagram icon-font" title="Link para o Instagram"></i>
            </a>
            <a href="https://facebook.com/" target="_blank">
                <i class="fa-brands fa-facebook icon-font" title="Link para o Facebook"></i>
            </a>
            <a href="https://www.tiktok.com/" target="_blank">
                <i class="fa-brands fa-tiktok icon-font" title="Link para o TikTok"></i>
            </a>
            <a href="https://github.com/RTormente/BoraComer/" target="_blank">
                <i class="fa-brands fa-github icon-font" title="Link para GitHub"></i>
            </a>
        </p>

        <p xmlns:cc="http://creativecommons.org/ns#" xmlns:dct="http://purl.org/dc/terms/">
            <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
                <img alt="Licença Creative Commons" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" />
            </a>
        </p>

    </div>

    <ul>
        <li><a href="index.html">HOME</a></li>
        <li><a href="quemsomos.html">QUEM SOMOS</a></li>
        <li><a href="locais.html">LOCAIS</a></li>
        <li><a href="receitas.html">RECEITAS</a></li>
        <li><a href="contatos.html">CONTATO</a></li>
    </ul>
    
    <ul id="apoio">
        <li>APOIO:</li>
        <li>
            <a href="https://prozeducacao.com.br/" target="_blank">
                <img src="assets/images/PROZ-logo.png" alt="logo Proz" class="icon-img" />
            </a>
        </li>
        <li>
            <a href="https://aws.amazon.com/pt/?nc1=h_ls" target="_blank">
                <img src="assets/images/AWS-logo.png" alt="logo AWS" class="icon-img" />
            </a>
        </li>
        <li>
            <a href="https://www.meta.com/" target="_blank">
                <img src="assets/images/META-logo.png" alt="logo Meta" class="icon-img" />
            </a>
        </li>
    </ul>

</div>