<div class="container">

    <a href="index.html">
        <img src="assets/images/logo_gb_claro.svg" class="logo_bora_comer" alt="Bora Comer Logo">
    </a>

    <nav>
        <a href="locais.html">COMER E BEBER</a>
        <a href="receitas.html">RECEITAS</a>
        
        <form method="post" id="searchOnPage">
            <input type="search" name="ipt_search" id="header_imput_search" placeholder="Busca...">
            <button type="submit" name="bt_search_submit">
                <i class="fa-solid fa-magnifying-glass icon-font" title="Icone de pesquisa"></i>
            </button>
        </form>

        <a href="login.html">
            <i class="fa-solid fa-circle-user icon-font" title="Icone de login"></i>
        </a>
        
        <div id="menuClose">
            <i class="fa-regular fa-circle-xmark icon-font"></i>
        </div>
    </nav>
    
</div>

<div id="menuMobile">
    <i class="fa-solid fa-bars icon-font"></i>
</div>
